.correct {
  border: 3px solid rgb(6, 240, 15);
  outline: none;
}

.incorrect {
  border: 3px solid rgb(255, 0, 0);
  outline: none;
}

.answer {
  border: 3px solid rgb(82, 82, 82);
  outline: none;
}