.content-wrap {
  color: rgb(97, 38, 165);
  margin: 50px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

button {
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
  border-radius: 4px;
  border: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(55, 0, 255);
  font-size: 15px;
}

.alternatives {
  display: flex;
  justify-content: space-around;
}

.alternatives button {
  width: 24%;
}

.bt_margin {
  margin-right: 20px;
}

.wrap-player-ranking {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 600px;
 padding: 5px 100px;
 margin: 10px auto;
 background-color: rgb(240, 240, 240);
 border-radius: 10px;
}

.img-ranking {
  border-radius: 100%;
  border: 3px solid white
  }

select {
  border: 1px solid rgba(255, 0, 0, 0.767);
  background: rgba(255, 255, 255, 0.925);
  border-radius: 8px;
  color: rgb(5, 31, 31);
  padding: 20px 15px;
  font-size: 20px;
  width: 90%;
  margin-top: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.buttons_settings {
  margin-top: 20px;
}

.rank-score{
  min-width: 80px;
}