.content-wrap {
  color: rgb(97, 38, 165);
  margin: 50px;
  padding: 50px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

button {
  padding: 10px 20px;
  border-radius: 3px;
}

.alternatives {
  display: flex;
  justify-content: space-around;
}

.alternatives button {
  width: 24%;
}